<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="S:\Java\jdk-11.0.5\bin\java.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-cp S:\M2_REPO\com\nttdata\obp\ec2-management\1.1.1.RELEASE\ec2-management-1.1.1.RELEASE.jar com.nttdata.obp.ec2.management.Stop"/>
</launchConfiguration>
